* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

section {
  background-color: #808080;
  margin: 20px;
  padding: 20px;
  
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.item {
  background-color: #F6F6FE;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  color: #333;
}
.item li {
  border: 1px solid #2E2F42;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  color: #333;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 156px;
    gap: 48px 24px;
    margin: 0 auto;
    list-style: none;
}

input {
  height: 40px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 15px 32px;
  
}

.login-form label{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
}

button {
  color: #fff;
  background-color: #4E75FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 86px;
  border: none;
  border-radius: 8px;
  margin: 16px 0;
  padding: 8px 16px;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 button:hover  {
  background-color: #6C8CFF;
 }

 button:focus {

  background-color: #FF4E4E;
 }

 div {
  display: flex;
  margin: 0 auto;
  gap: 16px;
  width: 486px;
  background-color: #F6F6FE;
 }